#consent, #instructions, #between_categories, #between_distractors, #too_few, #game, #endgame, #dist_trial {
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 50px;
    font-size: 16pt;
}

#endgame {
    overflow-y: scroll;
}

#timer, #dist_timer {
    float: none;
    padding-top: 50px;
    font-size: 60pt;
}

.subtext {
    font-size: 10pt;
    color: #888888;
}

#postExptSurvey {
    font-size: 12pt;
}
#consent {left: 0%}
#instructions { left: 0%; }
#between_categories, #between_distractors, #too_few, #game, #endgame, #dist_trial { left: 100%; }
#game_top, #dist_top { width: 750px; }
#game_left, #dist_left { float: none; }
#current, #dist_current { width: 500px; }
#items, #dist_items { clear: both; }
