#instructions, #between_categories, #too_few, #game, #endgame, #dist_trial {
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 50px;
    font-size: 16pt;
}

#endgame {
    overflow-y: scroll;
}

#timer {
    float: none;
    padding-top: 50px;
    font-size: 60pt;
}

.subtext {
    font-size: 10pt;
    color: #888888;
}

#postExptSurvey {
    font-size: 12pt;
}
#instructions { left: 0%; }
#between_categories, #too_few, #game, #endgame, #dist_trial { left: 100%; }
#game_top { width: 750px; }
#game_left { float: none; }
#current { width: 500px; }
#items { clear: both; }
#dist_top {width: 750px;}

#dist_left {float: none;}


